@import "https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap";

* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
}

#restart {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    cursor: pointer;
}

#restart:hover {
    background-color: #4b4b4b;
}

#moves {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

#moves:hover {
    background-color: #4b4b4b;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: right;
    padding: 10px 20px;
}

.game-board {
     margin-top: 20px;
     justify-content: center;
     display: flex;
     flex-direction: column;
    margin-bottom: 30px;
 }

.row {
    display: flex;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 50px;
}
.cell-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 50px;
}